@use '../style/partials/variables.scss' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: $bg-primary;
    overflow-y: hidden;
}

.container {
    height: 100vh;
    margin: 0 auto;
    background-color: $bg-primary;
    overflow-y: auto;
    scrollbar-color: rgb(0, 89, 255) #222222;
    scrollbar-width: thin;
}