// variabili bg color
$bg-primary: rgb(94, 94, 94);
$bg-secondary: rgb(0, 0, 0);

// variabili text color
$text-primary: rgb(255, 0, 0);
$text-secondary: rgb(255, 255, 255);
$text-tertiary: rgb(0, 0, 0);